package templates

templ Index() {
	<head>
		<link rel="stylesheet" href="static/css/style.css"/>
	</head>
	<body>
		<div class="bg-black h-screen flex justify-center items-center text-lg">
			<code class="text-white">Start editing /internal/templates/index.templ</code>
		</div>
	</body>
}
